.breadcrump{
    color:#a4a4aa;
    font-size:12px;
}

.breadcrump a{
    text-decoration:none;
    color:#a4a4aa;
}

.cItem {
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 18px;
    margin-bottom: 10px;
}

.cPop {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 20px;
}

.cPop span {
    font-size: 16px;
    margin-right: 7px;
    opacity: .2;
    transform: translateY(1px);
}

.cLabel{
    margin-top:5px;
    display:block;
    text-align:left;
    font-size:12px;
    font-weight:400 !important;
    color:#000;
}

.cOption span {
    font-size: 12px;
    font-weight: 700;
    display:block;
    margin-top: 5px;
}

.cNumb{
    margin-left:4px;
}

.cTotal {
    width: 100%;
    height: 10px;
    background: #ffe4e4;
    border-radius: 2px;
    position: relative;
    overflow:hidden;
    margin-top:10px;
}

.cPerc{
    margin-right:30px;
}

.cRempli {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: red;
    border-radius: 5px;
}

.cOddsMin {
    font-size: 12px;
    margin-top: 2px;
    font-weight: 700;
}

.appMediaSeo {
    height: 450px;
    position: relative;
    border-radius: 18px;
    overflow:hidden;
}

.appMediaSeo img{
    object-fit:cover;
    /* filter:grayscale(100%) */
}

.logoTeamT{
    width:30px;
    height:100%;
    position:relative;
}

.logoTeamT span{
    position:relative !important;
}

.logoTeamT img{
    position:relative !important;
    width: 30px !important;
    height: auto !important;
}

.cProba{
  background: #f7f7f7;
  margin-bottom: 3px;
  margin-right: 4px;
  font-size:12px;
  font-weight:700;
  padding:10px;
  box-sizing: border-box;
  border-radius:5px;
}

.gamebox h3{
    font-size:16px;
}

.gamebox{
    border: 2px solid rgba(0, 0, 0, 0.07);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.forme{
    font-size:30px;
    font-weight:800;
    display:block;
    text-align:center;
}

.formeLabel{
    font-size:10px;
    margin-left:5px;
    display:block;
    text-align:center;
    text-transform:uppercase;
}

.graph{
    overflow:hidden;
    gap:2px;
}

.rounder{
    width: 25px;
    height: 10px;
    border-radius: 5px;
}

.formeNumber{
    display:block;
    font-weight:700;
    font-size:16px;
    line-height:1em;
}

.formeType{
    font-size:10px;
    line-height:1em;
    text-transform:uppercase;
}

.avantage{
    display:flex;
    align-items:center;
    gap:10px;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    background: #FFF;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px dashed rgba(0,0,0,0.07);
}

.adv{
    width:25px;
    height:25px;
    position:relative;
}

.adv img{
    width:100%;
    height:auto;
    object-fit:contain;
}

.avantager{
    color:green;
}

.slash{
    font-size:20px;
}

.teamS{
    font-weight:700;
    font-size:16px;
}

.resume{
    border:.8px solid rgba(0,0,0,0.07);
    margin-top:20px;
    position:relative;
}

.resume::after{
    content:'Resume';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:12px;
    background:#FFF;
    padding:0 10px;
    color:#AAA;
}

.pot{
    width:40%;
}

@media(max-width:810px){
    .cPerc{
        margin-right:0px !important;
    }

    .cOdds{
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 3px 0 8px 0;
        border: 1px solid rgba(0,0,0,0.05);
    }

    .pronoMatch{
        font-size:12px !important;
    }

    .breadcrump{
        padding: 0 25px;
    }

    .appMediaSeo{
        height:250px;
    }

    .avantage{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height:1.5em;
    }

    .adv{
        width:30px;
        height:30px;
    }

    .avantager{
        display:block;
    }

}